#pointer {
  text-align: center;
  color: #a9a9a9;
  font-size: xx-large;
  font-weight: bold;
}

.rotate {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border-radius: 50%;
  animation: rotate_anime 0.5s linear infinite;
}


.roulette{
  height: 100%;
  left: 50%;
  text-align: center;
  font-size: 1.5rem;
  display: inline-block;
  position: absolute;
  transform-origin: 0 200px;
}
.roulette span {
  font-size: 20px;
  writing-mode: vertical-rl;
}
@keyframes rotate_anime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.paused {
  animation-play-state: paused;
}
