{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>タイトル</h1>
    <h2>マイページ  編集</h2>
      <form method="post" action="{{ url_for('register') }}">
          <table border="1">
              <tr>
                  <th>お気に入り</th>
                  <th>コメント</th>
              </tr>
              <tr>
                  <td><input type="text" name="fav"></td>
                  <td><input type="text" name="comment"></td>
              </tr>
          </table>
          <br>
          <input type="submit" value="登録">
      </form>
      <a href="{{ url_for('index') }}">戻る</a>
</div>
{% endblock %}