{% for review in reviews %}
  <!-- 編集するデータを表示 -->
  <div class="card mb-3">
    <div class="card-header">
      <h5 class="card-title">{{ review.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ review.date_posted.strftime('%m/%d/%Y %I:%M %p') }}</h6>
    </div>
    <div class="card-body">
      <p class="card-text">{{ review.comment }}</p>
      <a href="#" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#edit-review-modal-{{ review.id }}">Edit</a>
      <a href="{{ url_for('delete_review', review_id=review.id) }}" class="btn btn-sm btn-outline-danger">Delete</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ review.rating }}</small>
    </div>
  </div>

  <!--　編集後のデータの入力フォーム -->
  <div class="modal fade" id="edit-review-modal-{{ review.id }}" tabindex="-1" role="dialog" aria-labelledby="edit-review-modal-label-{{ review.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST" action="{{ url_for('edit_review', review_id=review.id) }}">
          {{ form.csrf_token }}
          <div class="modal-header">
            <h5 class="modal-title" id="edit-review-modal-label-{{ review.id }}">編集</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="id" value="{{ review.id }}">
            <input type="hidden" name="name" value="{{ review.name }}">
            <input type="hidden" name="formatted_address" value="{{ review.formatted_address }}">
            {{ form.rating.label }}
            {{ form.rating }}
            {{ form.comment.label }}
            {{ form.comment }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}
