{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
  <div style="text-align:center;">食べたい料理のジャンルと場所を入力してルーレットを回し、ランダムに飲食店を決めよう！</div>
  <br>
  <fieldset>
    <input id="100" class="form-check-input" type="radio" name="meal" value="100">
      <label class="form-check-label" for="100">すべて</label>
    <input id="0" class="form-check-input" type="radio" name="meal" value="0">
      <label class="form-check-label" for="0">和</label>
    <input id="1" class="form-check-input" type="radio" name="meal" value="1">
      <label class="form-check-label" for="1">洋</label>
    <input id="2" class="form-check-input" type="radio" name="meal" value="2">
      <label class="form-check-label" for="2">中華</label>
  </fieldset>

  <form action="/result" method="POST" id="result-form" style="text-align:center;">
    <input type="text" id="address" name="address" placeholder="場所を入力してください">
    <input type="hidden" name="selected-data" id="hide-selected-data">
    <input type="button" value="Start" id="start">
  </form>  
  
  
  <!--ルーレットを描画-->
  <div id="pointer">▼</div>
  <div class="rotate paused" id="rotate"></div>

  <script>
    const formCheckInputs = document.querySelectorAll('.form-check-input');
    formCheckInputs.forEach(function (formCheckInput) {
      formCheckInput.addEventListener('change', function () {
        const value = this.value;
        const rotate = document.querySelector('.rotate');
        let data;
        if (value === "0") {
          data= eval('{{ meal["0"] }}'.replaceAll('&#39;', "'"));
          rotate.style.background = "conic-gradient(#F3E2CF 0 36deg, #C7B09B 36deg 72deg, #708B91 72deg 108deg, #576B79 108deg 144deg, #48556B 144deg 180deg, #F3E2CF 180deg 216deg, #C7B09B 216deg 252deg, #708B91 252deg 288deg, #576B79 288deg 324deg, #48556B 324deg 360deg)";
        } else if (value === "1") {
          data= eval('{{ meal["1"] }}'.replaceAll('&#39;', "'"));
          rotate.style.background = "conic-gradient(#FAE9D4 0 45deg, #AD9579 45deg 90deg, #755851 90deg 135deg, #C5D8A4 135deg 180deg, #FAE9D4 180deg 225deg, #AD9579 225deg 270deg, #755851 270deg 315deg, #C5D8A4 315deg 360deg)";
        } else if (value === "2") {
          data= eval('{{ meal["2"] }}'.replaceAll('&#39;', "'"));
          rotate.style.background = "conic-gradient(#CC5252 0 72deg, #F0D1B6 72deg 144deg, #663333 144deg 216deg, #DEB785 216deg 288deg, #F0D1B6 288deg 360deg)";
        } else {
          data= eval('{{ meal["100"] }}'.replaceAll('&#39;', "'"));
          rotate.style.background = "conic-gradient(#f6e7e5 0 15.6522deg, #f5f5f5 15.6522deg 31.3043deg, #fefefc 31.3043deg 46.9565deg, #fef7e2 46.9565deg 62.6087deg, #d1dac3 62.6087deg 78.2609deg, #f1e0d1 78.2609deg 93.9130deg, #d1dac3 93.9130deg 109.5652deg, #fef7e2 109.5652deg 125.2174deg, #fefefc 125.2174deg 140.8696deg, #f5f5f5 140.8696deg 156.5217deg, #f6e7e5 156.5217deg 172.1739deg, #f1e0d1 172.1739deg 187.8261deg, #d1dac3 187.8261deg 203.4783deg, #f5f5f5 203.4783deg 219.1304deg, #fefefc 219.1304deg 234.7826deg, #fef7e2 234.7826deg 250.4348deg, #d1dac3 250.4348deg 266.0870deg, #f1e0d1 266.0870deg 281.7391deg, #f6e7e5 281.7391deg 297.3913deg, #f5f5f5 297.3913deg 313.0435deg, #fefefc 313.0435deg 328.6957deg, #fef7e2 328.6957deg 344.3478deg, #d1dac3 344.3478deg 360deg)";
        }

        const container = document.querySelector('.rotate');
        let html = '';
        data.forEach((item, index) => {
          const id = `roulette${index+1}`;
          html += `<div class="roulette" id="${id}"><span>${item}</span></div>`;
        });
        container.innerHTML = html;

        const animation = document.querySelector(".rotate");
        const start = document.getElementById("start");
        start.onclick = () => {
          if (!animation.classList.contains('paused')) {
            animation.classList.add("paused");
            start.value = "Start";
            let timer = setTimeout(() => {
              let angle = getRotate(animation)
              console.log(angle)
              let selectedData
              data.forEach((item, index) => {
                let startAngle = index * 360 / data.length
                let endAngle = (index + 1) * 360 / data.length

                if (angle >= startAngle && angle <= endAngle ) {
                  selectedData = item
                  return
                }
              })
              console.log(selectedData)
              
              const confirmPopup = confirm(`${selectedData}で確定しますか？`);
              if (confirmPopup) {
              const hideSelectedDataEle = document.querySelector('#hide-selected-data')
              hideSelectedDataEle.value = selectedData

              const resultForm = document.querySelector('#result-form')
              resultForm.submit()
              }
            }, 50)
          } else {
            animation.classList.remove("paused");
            start.value = "Stop";
          }
        };

        data.forEach((item, index) => {
          let itemAngle = 360 - (index * 360 / data.length + (360 / data.length / 2))
          let rouletteEle = document.getElementById(`roulette${(index + 1)}`)
          rouletteEle.style.transform = `rotate(${itemAngle}deg) translateX(-50%)`
        })
        
        
      });
      
    });
    var getRotate = function(el) {
      var tm = getComputedStyle(el, null).getPropertyValue("transform")
      if (tm != "none") {
        var values = tm.split('(')[1].split(')')[0].split(',');
        var angle = Math.round(Math.atan2(values[1],values[0]) * (180/Math.PI));
        return (angle < 0 ? angle + 360 : angle); //adding 360 degrees here when angle < 0 is equivalent to adding (2 * Math.PI) radians before
      }
    };
  </script>
</div>
{% endblock %}