{% extends "layout.html" %}

{% block content %}
<h1>Sign Up</h1>
    <p>
		<form method="POST" action="{{url_for('signup')}}">
			{{ signup.csrf_token }}
	
			{{ signup.accountid.label }}:{{ signup.accountid }} <br>
			{% for error in signup.accountid.errors %}
			<span style="color: red;">{{ error }}</span>
			{% endfor %}<br>
	
			{{ signup.password.label }}:{{ signup.password }}<br>
			{% for error in signup.password.errors %}
			<span style="color: red;">{{ error }}</span>
			{% endfor %}<br>
	
			{{ signup.submit}}
		</form>
	</p>			
{% endblock %}